body{
  cursor: pointer;
}
.navbar{
  width:1000px;
  height:60px;
  background-color:#f8f9fa;
}
.nav{
  flex-flow: wrap;
}
.logo img{
  width:100px;
  height:cover;
  margin-left:10px;
}
.logo:hover{
  transform: scale(1.1);
  transition: transform 0.3s ease;
  border:1px solid #000000;
  padding:5px;
  margin-left:10px;
}

.section-custom-announcement-bar.custom-marquee {
    display: flex;
    align-items: center;
    height: 36px;
    width: 100vw;
    max-width: 100%;
    overflow-x: hidden;
    background:#222222; 
    color:#ffffff; 
  }
  .section-custom-announcement-bar.custom-marquee a {
    color:#ffffff; 
    text-decoration: none;
  }
  .section-custom-announcement-bar.custom-marquee .track {
    display: flex;
    align-items: center;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 22s linear infinite;
  }
  .section-custom-announcement-bar.custom-marquee .content {
    margin-left: 40px;
    font-size: 12px;
  }
  @keyframes marquee {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-20%);
    }
  }
.lists ul a>li{
    color:black;
}
.hero{
  width:100%;
  height:500px;
  background-size: cover;
  background-position: center;
}
.hero-links>a{
text-decoration: none;
color:black;
}
.text-center{
 font-size:14px;

}
  .text{
    font-size: 48px;
  }
  .hero-links{
    margin-top: 50px;
  }
  .badge{
    float:left;
    width: 100px;
    height:30px;
    background-color:  #A52A2A;
    font-size: 18px; 
  }
  .card-body{
    box-shadow:lg p-3 mb-5 bg-body-tertiary rounded;
  }
  @media (max-width: 768px) {
    #hamburger{
      display:block;
      cursor: pointer;
    }
    .nav{
      display:none;
    }
    .mg{
      display:block;
      background-image: url(' https://www.hushpuppies.com.pk/cdn/shop/files/Mobile-Banner_600x.jpg?v=1762453780&width=600');
      width:100%;
      height:100%;
    }
    .bt{
      display:flex;
      flex-wrap: wrap;
      display: block;
    }
  }
  button{
    background-color: #A52A2A;
    color:white;
    border-radius: 50%;
  }
  .main{
    margin-left: 200px;
  }
  .search-container{
     margin:0px 0px 0px 200px;
     width:650px;
     height:36px;
     gap:20;
     display: flex;
     justify-content:flex-start;

  }
  .search-input{
    width: 500px;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #ccc;
   
    font-size: 16px;

  }
  .nav-links a{
    color:black;
    text-decoration: none;
    margin-right: 20px;
    gap:10px;
    flex-wrap: wrap;
  }
 
  .fa-search{
    position:relative;
    top: 70%;
    right: 20px;
    transform: translateY(-50%);
    /
  }
  #hamburger{
    display:none;
  }

  
